@import "tailwindcss";

:root {
  --foreground: #171717;
  --primary: #ffac13;
  --secondary: #008900;
  --text: #030202;
  --linear-gradient-meet-speaker: linear-gradient(rgba(203, 7, 6, 0), #cb0706);
}

@theme inline {
  /* --color-foreground: var(--foreground); */
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
}

.linear-gradient-meet-speaker {
  transition: all 3s;
}

.lp:hover .linear-gradient-meet-speaker {
  background: linear-gradient(rgba(203, 7, 6, 0), #cb0706);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
